body {
    padding:0;
    margin:0;
    min-width:320px;
    font-family: "Clear Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    position: relative;
    line-height: 1.6;
    color: #000;
}

.parallax-page {
    min-height: 600px;
    width: 100%;
    overflow: hidden;
    padding: 20px 0px;
    background: rgba(0,0,0,0.3);
}

/*header*/
header .menu_btn {
    display: none;
    width: 55px;
    height: 55px;
    font-size: 2em;
    background: #fdd402;
    border: none;
    border-radius: 6px;
    line-height: 60px;
    position: fixed;
    top: 35px;
    left: 35px;
    z-index: 5000;
}
header .main_menu {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.main_menu ul {
    list-style: none;
    padding: 0;
}
.main_menu ul li {
    display:inline-block;
    padding: 5px;
}

.main_menu ul li a {
    color: #ffffff;
    font-size: 19px;
    letter-spacing: 1px;
    transition: 0.5s ease;
    border-bottom: 2px solid transparent;
}

.main_menu ul li a:hover {
    text-decoration: none;
    border-bottom: 2px solid #ffffff;
    transition: 0.5s ease;
}

header .logo{
    display: inline-block;
    float: right;
    margin-right:25px;
    margin-top:25px;
}

header .content {
    color: white;
    text-align: right;
    width: 50%;
    float: right;
    font-size: 27px;
    margin: 45px 20px 0;
}

header .content p:nth-child(2n) {
    font-weight: bold;
    font-size: 30px;
}

/*solutions*/

section.solutions {
    background: #fff;
}

section.solutions .mark, i {
    background: #FFCF4B;
    font-style: normal;
}

section.solutions .bmark {
    background: #2aabd2;
}

.solutions h2 {
    display: inline-block;
    margin: 20px 0px 35px;
    font-weight: normal;
    font-size: 26px;
}

.solutions .ready {
    border-radius: 10px;
    background: rgba(227,227,223,.51);
}

.solutions .ready p {
    background: #d5e5e6;
    display: inline-block;
    line-height: 19px;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.solutions .ready .slider ul{
    padding: 0;
}

.solutions .ready .slider .glide__arrow {
    color: black;
    background: rgba(255,255,255,0.6);
    border-color: rgba(0,0,0,0.4);
}
.solutions .ready .slider .glide__arrow:hover {
    border-color: black;
    background: rgba(255,255,255,0.9);
}

.solutions .ready .slider img {
    width: 100%;
}

.solutions .individual {
    background: rgba(253,249,13,.59);;
    border-radius: 10px;
    padding: 15px;
}
